/* Estilos para impresión */
body {
  font-family: Arial, sans-serif;
  color: #000;
}

header, .contenido-relacionado, footer {
  display: none; /* Ocultar elementos no esenciales */
}

main {
  margin: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin-top: 20px;
}

p {
  font-size: 14px;
  line-height: 1.5;
}
